img {
  width: 800px;
}
h1 {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  padding: 6px black;
  margin: 20px white;
  border: 2px black;
}
.font {
  font-family: sans-serif;
  font-style: italic;
  color: white;
}
body {
  background-color: orange;
}
li {
  text-decoration: underline;
  color: black;
}
.column {
  margin: 20px white;
  font-weight: bold;
  font-style: italic;
  border: 2px white;
  float: right;
  color: white;
  background-color: black;
  width: 30%;
  border-radius: 10px;
}
img {
  border-radius: 10px
}
h3 {
  color: red;
}
